@import "../../.cache/wal/colors-waybar.css";

* {
	border: none;
    font-family: "Symbols Nerd Font" ;
	font-size: 15px;
	font-weight: bold;
}

window#waybar {
	background: transparent;
}

#clock, #cpu, #bluetooth, #memory, pulseaudio, #network, #tray, #custom-update {
	padding: 4 12px;
	border-radius: 10px;
	background-color: alpha(@background, 0.8);
}

#bluetooth {
	color: #89b4fa;
	font-size: 17px;
}

#bluetooth.connected {
    color: #b4befe; 
}

#bluetooth.disabled {
    color: #6c7086; 
}

#network{
	font-size: 13px;
}
