@import "../../.cache/wal/colors-waybar.css";

@define-color accent @color4;
@define-color active #ABE9B3;
@define-color hover #F5C2E7;

* {
	border: none;
	border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 14px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

#bluetooth, 
#clock, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#tray, 
#workspaces, 
#custom-launcher, 
#custom-notification,
#custom-power, 
#custom-update
{
	padding: 4 16px;
	border-radius: 10px;
	background-color: alpha(@background, 0.9);
}

#bluetooth {
	color: #89b4fa;
	font-size: 16px;
}

#bluetooth.connected {
    color: #b4befe; 
}

#bluetooth.disabled {
    color: #6c7086; 
}

#network{
	font-size: 13px;
}

#workspaces {
	padding: 0 12px;
}

#workspaces button {
	/* color: alpha(@accent, 0.6); */
	padding: 4px 14px;
	margin: 0 2px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;

	transition: all 0.1s ease;

	background: transparent;
	border-radius: 2px;
}

#workspaces button:hover {
	color: @hover;
	border-top-color: @hover;
}

#workspaces button.active {
	color: @active;
	border-color: @active;
}

#workspaces button.active:hover {
    color: @hover;
}

#custom-launcher{
	font-size: 15px;
	padding-right: 21px;
}

#custom-power{
	font-size: 15px;
	padding-right: 12px;
	padding-top: 5px;
}
