@import "../../.cache/wal/colors-waybar.css";

* {
	border: none;
	border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 14px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

#bluetooth, 
#clock, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#tray, 
#workspaces, 
#custom-launcher, 
#custom-notification,
#custom-power, 
#custom-update
{
	padding: 4 16px;
	border-radius: 10px;
	background-color: alpha(@background, 0.9);
}

#bluetooth {
	color: #89b4fa;
	font-size: 16px;
}

#bluetooth.connected {
    color: #b4befe; 
}

#bluetooth.disabled {
    color: #6c7086; 
}

#network{
	font-size: 13px;
}

#workspaces {
	padding: 4px 8px;
}
#workspaces button {
	all:unset;
	color: alpha(@color4, 0.6);
	padding: 4px 16px;
    transition: all 0.1s ease;
}

#workspaces button:hover {
	color: alpha(@color4, 0.8);
}

#workspaces button.active {
    color: @color4;
}

#workspaces button.empty {
    color: alpha(@color4, 0.6);
}

#workspaces button.empty:hover {
    color: alpha(@color4, 0.8);
}

#workspaces button.empty.active {
    color: @color4;
}

#custom-launcher{
	font-size: 15px;
	padding-right: 21px;
}

#custom-power{
	font-size: 15px;
	padding-right: 12px;
	padding-top: 5px;
}
